.header {
  background: #b5e2fa;
  height: 75px;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  top: 0;
  border-bottom: 1px solid rgba(0,0,0, .3);
}

.headerCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.text {
  display: flex;
  font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: 30px;
  letter-spacing: .2em;
  margin-left: 60px;
}
p {
    
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: .1em;
}

.menuIcon {
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
    cursor: pointer;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    background: #b5e2fa;
    width: 200px;
    z-index: 16;
    list-style: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: start;
}
.list {
    border-bottom: 1px solid rgba(0,0,0, .3);
    text-align: center;
    padding: 15px;
    margin: 0;
}

.sideBarItems{
    font-weight: 600;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.closeHeader{
    display: flex;
    justify-content: flex-end;
}

.icon{
    cursor:pointer;
}