.containsButton {
  display: flex;
  padding: 10px;
  flex-direction: column;
  border: 2px solid rgba(3, 138, 255, 0.5);
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 24px;
  height: fit-content;
}

*{
  margin: 0;
  padding: 0;
}

.star {
  display: flex;
  width: inherit;
  position: absolute;
}

.starDiv{
  position: absolute;
  right: 10px;
  bottom: 10%;
  z-index: 1;
  cursor: pointer;
}

img{
  height: 200px;
  width: 200px;
  border-radius: 20px;
  border: 2px solid black;
}

.travelCard {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.location{
  letter-spacing: .4em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}

.button{
  width: fit-content;
  align-items: center;
  text-align: center;
  background-color: #b5e2fa;
  border: none;
  border-radius: 8px;
  padding: 10px;
  position: relative;
  border: 1px solid lightgray;
  cursor: pointer;
}

.username{
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 10px;
}

.buttonDiv{
  display: flex;
  align-items: center;
  justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.dates{
  text-transform: lowercase;
  margin: 3px;
}

.delete{
  display: flex;
  width: inherit;
  position: absolute;
}

.deleteIcon{
  position: absolute;
  right: 10px;
  cursor: pointer;
}


.completeDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}

h2{
  font-size: 25px;
  margin-bottom: 5px;
  text-align: center;
}
.inputDiv {
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-top: 5px;
}

.inputInput{
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin: 5px;
  border: none;
  border-bottom: 2px solid rgba(3, 138, 255, 0.5);
}

.radioBtnContainer {
  text-align: center;
  align-items: center;

  font-size: 15px;
  margin-bottom: 10px;
}

.radioBtn{
  display: block;
  flex-direction: row;
  letter-spacing: .2em;
  font-weight: 600;
  font-size: 18px;
}

.datesBtnDiv {
  display: flex;
  justify-content: center;
}

.datesBtn{
  width: fit-content;
  align-items: center;
  text-align: center;
  background-color: #b5e2fa;
  border: none;
  border-radius: 8px;
  padding: 5px;
  position: relative;
}